body {
    height: 10000px;
}
.bg-color-1 {
    background-color: #f62656;
}
.bg-color-2, header ul.nav li:last-child>a{
    background-color: #1d2b62 !important;
}
.color-1 {
    color: #f62656;
}
.color-2{
    color: #1d2b62 !important;
}
.f-o {
    font-family: 'Open Sans', sans-serif;
}
.f-m {
    font-family: 'Montserrat', sans-serif;
}
.f-11 {
    font-size: 11px;
}
.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-17 {
    font-size: 17px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-21 {
    font-size: 21px;
}
.f-23 {
    font-size: 23px;
}
.f-24 {
    font-size: 24px;
}
.f-25 {
    font-size: 25px;
}
.f-35 {
    font-size: 35px;
}
.f-36 {
    font-size: 36px;
}
.f-55 {
    font-size: 55px;
}
.f-74 {
    font-size: 74px;
}
.f-reg {
    font-weight: 400;
}
.f-med {
    font-weight: 500;
}
.f-semi {
    font-weight: 600;
}
.f-bold {
    font-weight: 700;
}
.pointer {
    cursor: pointer;
}
.bg-none {
    background: none !important;
}
.z-100 {
    z-index: 100;
}
.z-200 {
    z-index: 200;
}
.opac-100 {
    opacity: 1;
}
.opac-75 {
    opacity: 0.75;
}
.opac-55 {
    opacity: 0.55;
}
.hight-249 {
    height: 249px
}
.hight-285 {
    height: 285px;
}
.hight-418 {
    height: 418px;
}
.bord-bto::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 37%;
    height: 2px;
    background-color: #f62656;
}
.bord-bto2::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 28%;
    width: 30%;
    height: 2px;
    right: 0;
    text-align: center;
    background-color: #f62656;
}
.bord-bto3::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    right: 0;
    text-align: center;
    background-color: #333;
}
.of-y-x {
    overflow-x: hidden;
}
/* header */
.header-background {
    background-image: url(../img/headerBg.jpg);
    background-attachment: fixed;
    background-size: cover
}
/* about */
.over > .op-0 {
    transition: all 1s
}
.op-0 {
    opacity: 0;
}
.over:hover > .op-0 {
    opacity: 1;
}
/* Team Section */
.link:hover{
    text-decoration: none;
}
.link::after {
    width: 0;
    transition: all 1s
}
.link:hover::after{
    width: 100%;
}
/* Services Working*/
.top-40{
    top: -40px;
}
/**/
.bg-img-1 {
    background-image: url(../img/contactImg.jpg);
    background-attachment: fixed;
    background-size: cover
}
@media (max-width: 768px) {
    .border-none {
        border: none !important;
    }
    .pos-cost {
        position: relative !important;
        width: 100%;
    }
}
